<h1>It's a todo app</h1>
<%= link_to "All", :home %> |
<%= link_to "Completed", :completed %> |
Unfinished
<br>
<br>
<% @todos.each do |t| %>
  <%= check_box_tag 'complete', t.complete, t.complete %>
  <%= t.title %>
  <%= button_to('delete', delete_path(t), method: "delete") %>
  <br />
<% end %>
<br>
<%= link_to "Create new", :new %>
